body {
    font-size: 24px;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
    font-family: sans-serif;
    padding: 20px;
}
  
p {
    text-align: justify;
}
  
.code {
    font-family: monospace;
    line-height: normal;
}
  
.hintButton {
    color: #0066B3;
    cursor: pointer;
    font-weight: bolder;
    border-bottom: 2px dashed;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
td {
    width: 50%;
    padding: 10px;
    border: 1px solid;
    vertical-align: top;
}
  
.number {
    border: 2px solid;
    padding: 4px;
    font-weight: bolder;
}

.header {
    font-weight: bolder;
}